@model SistemaGestionDeTaller.Areas.Main.Models.Service

@{
    ViewData["Title"] = "Detalles";
}

<p class="display-6">Detalles</p>

<div class="my-3">
    <a class="btn py-1 btn-secondary" asp-action="Index">
        <i class="bi bi-box-arrow-in-left" style="color: #fff;"></i>
        Regresar
    </a>

    <a class="btn py-1" style="background-color: #A6DF98; color: #fff;" asp-action="Edit" asp-route-id="@Model.Id">
        <i class="bi bi-pen" style="color: #fff;"></i>
        Editar
    </a>
</div>

<dl class="row">
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Date)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Date)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Patent)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Patent)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Brand)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Brand)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Model)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Model)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.ClientName)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.ClientName)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Description)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.TotalPrice)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.TotalPrice)
    </dd>
</dl>